---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { ChevronRight, File } from "@lucide/astro";
import BlogPostCard from "../components/BlogPostCard.astro";

const allPosts = await getCollection(
  "blog",
  ({ data }) => import.meta.env.DEV || data.published,
);

const recentPosts = allPosts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6);
---

<Layout>
  <section class="flex w-full flex-col gap-6 py-16 md:py-24">
    <h1 class="text-6xl font-bold">monuke-maho</h1>
    <p class="text-xl font-medium text-slate-500">もぬけのサイト！</p>
    <div class="flex flex-row items-center gap-4">
      <a
        href="/blog"
        class="flex flex-row items-center gap-2 rounded-full bg-slate-900 px-6 py-2 font-bold text-white"
        ><File class="h-4 w-4" />Blog</a
      >
      <a href="/about" class="rounded-full bg-slate-100 px-6 py-2 font-medium"
        >About</a
      >
    </div>
  </section>
  <section class="flex flex-col gap-8 border-t border-slate-100 py-12">
    <div class="flex flex-row items-center justify-between">
      <h2 class="text-2xl font-bold">最近の投稿</h2>
      <a
        href="/blog"
        class="group flex flex-row items-center gap-2 *:transition-all *:duration-200"
      >
        全ての記事 <ChevronRight class="h-4 w-4 group-hover:translate-x-1" />
      </a>
    </div>
    <div class="grid w-full grid-cols-1 gap-4">
      {recentPosts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </section>
</Layout>
